@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

div#banner-test {
  width: 560px !important;
  margin-right: auto;

  h2 {
    font-size: 30px;
    line-height: 60px;
    color: black;
    font-weight: 500;
    font-family: "Tajawal", sans-serif;
  }

  p {
    font-size: 16px;
    line-height: 25px;
    color: black;
    font-weight: 400;
    font-family: "Tajawal", sans-serif;
  }

  .btn {
    margin-top: 8px;
    gap: 8px !important;
    border-radius: 4px !important;
    padding-top: 18px !important;
    padding-right: 24px !important;
    padding-bottom: 18px !important;
    padding-left: 24px !important;
    color: #fff !important;
    border: none !important;
    width: 138px !important;
    height: 52px !important;
  }
}
#grid-1-img {
  p {
    font-family: Tajawal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: right;
  }

  h2 {
    font-family: Tajawal;
    font-weight: 500;
    font-size: 25px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: right;
  }

  .max-w-md {
    width: 274px;
    height: 347px;
    top: 71px;
    left: 372px;
    gap: 24px;
  }
}

.btn {
  width: 138px;
  height: 54px;
  gap: 16px;
}
#app
  > div
  > section.w-full.py-10
  > div
  > div.flex.flex-col.gap-2.w-full.md\:w-1\/2 {
  > div:nth-child(1) .max-w-md {
    width: 390px !important;
    height: 199px !important;
    top: 20px;
    left: 29px;
    gap: 12px;
    margin-right: auto !important;
  }

  h2 {
    font-family: Tajawal;
    font-weight: 500;
    font-size: 20px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: right;
  }

  p {
    font-family: Tajawal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: right;
  }

  > div:nth-child(2) .max-w-md {
    width: 390px !important;
    height: 199px !important;
    top: 20px;
    left: 29px;
    gap: 12px;
    margin-left: auto !important;
  }
}

.btn {
  font-family: Tajawal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}
