<section class="s-block w-full">
  <div class="container w-full grid grid-cols-3 gap-1">
    {% for category in component.catagories %}
    <a
      href="{{ category['catagories-url'] }}"
      class="relative block overflow-hidden group"
    >
      <img
        src="{{ category['catagories-img'] }}"
        class="w-full object-cover group-hover:scale-105 transition-transform duration-300"
      />

      <div class="absolute inset-0 flex items-end justify-center">
        <h4 class="text-white text-lg font-semibold text-center">
          {{ category["catagories-title"] }}
        </h4>
      </div>
    </a>
    {% endfor %}
  </div>
</section>
